:root {
    --mainColor: #3F0000;
    --secondaryColor: #530202;
}

html {
    scroll-behavior: smooth;
}

body {
    color: white;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

body i {
    font-size: 30px;
    color: white;
}

h1 {
    font-size: 50x;
}

h2, h3 {
    font-size: 30px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "navigation-menu-section"
        "introduction-section"
        "skills-section"
        "projects-section"
        "contact-me-section";
}

/* ------------------------------------------------------------------------ */

/* Navigation Menu Section */
.navigation-menu-section {
    position: fixed;
    width: 100%;
}

.navigation-menu-section ul{
    background-color: #111;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.navigation-menu-section li {
    float: left;
}

.navigation-menu-section li a {
    display: block;
    color: white;
    padding: 14px 16px;
    justify-content: center;
    text-decoration: none;
}

.navigation-list-right {
    float: right;
}

.navigation-list-right li a:hover {
    background-color: #333;
}

.navigation-menu-section .icon {
    display: none;
}

.topnav {
    display: none;
}

/* ------------------------------------------------------------------------ */

/* Introduction Section */
.introduction-section {
    background-color: var(--mainColor);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "image-section about-me-section-container";
}

.introduction-section i {
    padding: 10px;
}

.introduction-section .image-section i:hover{
    color: #111;
}

.about-me-section-container {
    padding-top: 50px;
}

/* Image Section/Profile Picture */
.image-section {
    padding-top: 80px;
    text-align: center;
}

.image-section .profile-picture {
    display: block;
    border-radius: 50%;
    margin: 0 auto;
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.interests-education-section {
    display: flex;
    padding: 10px;
}

/* ------------------------------------------------------------------------ */

/* Skills Section */
.skills-section-container {
    background-color: var(--secondaryColor);
    text-align: center;
}

.skills-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "cloud-engineering information-security web-development"
        "programming-languages database-languages";
    gap: 30px;  
}

.skills-section i {
    font-size: 80px;
}

/* ------------------------------------------------------------------------ */

/* Experience Section */
.experience-section-container {
    text-align: center;
    background-color: var(--mainColor);
    padding-top: 30px;
}

.experience-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "aws-job"
        "vector-security-networks-job"
        "sunrise-senior-living-job"
        "mens-wearhouse-job";
}

/* ------------------------------------------------------------------------ */

/*Projects Section */
.projects-section-container {
    background-color: var(--mainColor);
    padding-bottom: 20px;
    padding-top: 20px;
}

.projects-section-container h1 {
    text-align: center;
}

.projects-section-container a {
    background-color: var(--mainColor);
    color: white;
    text-decoration: none;
    text-align: center;
    border: none;
    padding: 5px;
}

.projects-section {
    text-align: center;
    width: 50%;
    height: auto;
    display: grid;
    margin: 0 auto;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "covid-19-tracker currency-converter to-do-list";
}

.projects-section img {
    display: block;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    background-color: #111;
}

.card-container {
    padding-bottom: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card a:hover {
    background-color: var(--secondaryColor);
}

/* ------------------------------------------------------------------------ */

/* Contact Me Section */

.contact-me-section-container {
    background-color: var(--secondaryColor);
}

.contact-form {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
    background-color: #111;
    margin-bottom: 50px;
    line-height: 2.7em;
}

.input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
}

textarea {
    resize: none;
}

/* ------------------------------------------------------------------------ */

/* Media Queries */

@media screen and (max-width: 1000px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "topnav"
            "introduction-section"
            "skills-section"
            "projects-section"
            "contact-me-section";
    }

    .navigation-menu-section {
        display: none;
    }

    .topnav {
        overflow: hidden;
        background-color: #111;
        position: fixed;
        width: 100%;
        display: block;
    }

    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    .topnav a.icon {
        background: #111;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav a:hover {
        background-color: #333;
        color: white;
    }

    .introduction-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "image-section"
            "about-me-section";
    }

    .about-me-section-container h1 {
        text-align: center;
    }

    .projects-section {
        grid-template-columns: 1fr;
        grid-template-areas:
        "covid-19-tracker"
        "currency-converter"
        "to-do-list";
    }

    .about-me-section {
        padding: 20px;
    }
}

@media screen and (max-width: 850px) {
    .interests-education-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "interests-section"
            "education-section";
    }

    .skills-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "cloud-engineering"
        "information-security"
        "web-development"
        "programming-languages"
        "database-languages";
    }
}

@media screen and (max-width: 700px) {
    .contact-form {
        max-width: 500px;
    } 
}

@media screen and (max-width: 600px) {
    .contact-form {
        max-width: 480px;
    }
}

@media screen and (max-width: 500px) {
    .contact-form {
        max-width: 380px;
    }
}